.pull-bottom {
	position: fixed; 
	bottom: 0; 
}

.fileTransfertsView {
	border: solid;
	border-width: 1px;
	width: 100%; 
	background-color:#ffffff;
}

.fileTransfertsViewHeader {
	border-bottom: solid;
	border-bottom-width: 1px;
	background-color: #f0f0f0;
}

table.borderless tbody td, table.borderless tbody th {
	border: none;
}